
nav{
    display: flex; 
    justify-content: center ;
    align-items: center;  
    padding: 20px 40px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
 }

nav>div:nth-child(1){
    flex: 1;  
    /* border: 1px solid black;    */
    text-align: left; 
} 

nav>div:nth-child(1) *{
    margin: auto; 
    padding: 0; 
}

nav>div:nth-child(2){
    flex: 1;  
    display: flex; 
    justify-content:flex-end;    
    gap: 20px; 
    align-items: center;  
    /* border: 1px solid black;  */
}

nav>div:nth-child(2) *{
    text-decoration: none; 
    color: black; 
    font-size: large; 
    font-weight: 500;
}

