
.slg_head p{
    text-align: center; 
    width: 100% ; 
    margin: auto;  
} 

.slg_head{ 
    width: 96%; 
    margin: 20px auto;   
    border: 2px solid rgba(121, 117, 117, 0.425); 
    border-radius: 10px; 
    padding: 20px ; 
    display: flex;  
    gap: 10px; 
    flex-direction: column; 
    background-color: rgb(201, 232, 247); 
}


