
.logo{
    width: 200px ; 
    max-height: 100px;    
    object-fit: cover;  
    padding-left: 40px; 
} 

.logo>img{  
    position: relative; 
}


.nav_head{
    /* height: 0px;  */
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: auto 100px; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.705);  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    width: 100%; 
}  

.nav_head>*{
    flex: 1;
}

.navlink{
    display: flex; 
    justify-content: space-around;  
    align-items: center;   
    font-size: large;  
    font-weight: bold; 
}

.slug_link{
    text-decoration: underline; 
    font-size: large; 
    font-weight: bold; 
    color: blue;   
    cursor: pointer;  
}



