
.data_list{
    display: grid; 
    grid-template-columns: repeat(3,1fr);  
    gap: 20px; 
    width: 92%;  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    margin: auto;  
    text-align: left; 
}

.data_detail *{
    margin: 2px 0 0 0 ;  
}

.data_detail img{
    width: 100%;   
    margin: 2px 0 0 0 ; 
}


